@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;800&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-purple-color: #8854c0;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --transition: all 300ms ease-in-out;
}

/* centering */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  color: var(--dark-color);
  background-color: var(--grey-color);
}

.wrapper {
  background-color: var(--light-color);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 680px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: relative;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.quiz-title {
  text-align: center;
  font-size: 2rem;
}

.quiz-score {
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  border: 5px solid var(--grey-color);
  font-weight: bold;
  width: 100px;
  margin: 0.5rem auto;
  color: var(--light-purple-color);
}

.quiz-question {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quiz-question .category {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--light-purple-color);
  color: var(--light-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  display: inline-block;
}